:root {
  // Forums
  .container_a6d69a {
    background: var(--background-primary);

    .mainCard_a6d69a {
      background-color: var(--background-secondary);
    }
  }

  // Threads
  .threadSidebar-1o3BTy {
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    width: 320px;
    min-width: unset;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    padding-bottom: 26px;
    overflow: visible;

    &::-webkit-scrollbar {
      margin-right: 50px;
    }

    // Header
    &::before {
      content: "Thread";
      position: absolute;
      top: -60px;
      z-index: 1;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bolder;
      color: var(--header-primary);
      background-color: var(--background-secondary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
      content: "";
      position: fixed;
      bottom: 85px;
      z-index: 1;
      width: 320px;
      height: 35px;
      background-color: var(--background-secondary);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      background-image: linear-gradient(
        to right,
        var(--header-primary) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 21px 2px;
      background-repeat: repeat-x;
    }
  }

  // Embed
  .embedFull_ad0b71 {
    border: none;
    margin-left: 10px;
    border-radius: 5px var(--border-radius) var(--border-radius) 5px;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: -10px;
      width: 0px;
      border: solid;
      border-width: 0 0 0 6px;
      border-color: inherit;
      border-radius: var(--border-radius);
    }
  }

  // Code blocks
  .hljs {
    border: none;
    border-radius: var(--border-radius);
  }

  // Audio player
  .wrapperAudio_f316dd {
    padding: 10px 0 0 0;
    border-radius: var(--border-radius);
  }
  .audioMetadata_f316dd {
    padding: 5px 10px;
  }
  .audioControls_f316dd {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Discord invite
  .wrapper_b9fe76 {
    border-radius: var(--border-radius);
  }

  // Spotify session
  .invite_cdcad9 {
    background-color: var(--background-secondary);
    border: none;
    border-radius: var(--border-radius);
  }

  // Spotify embed
  .embedSpotify_ad0b71 {
    border-radius: var(--border-radius);
  }

  // Discord Gift
  .tile_ab47a1 {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
  }
  .tileHorizontal_ab47a1.tile_ab47a1:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop_ff31dd {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // # @ / autocomplete menu
  .autocomplete_f23da8,
  .option_bea3ee {
    background-color: var(--background-secondary-alt);
  }
  .categoryHeader_fe2299,
  .selected-3H3-RC {
    background-color: var(--background-tertiary);
  }

  // @everyone popout
  .everyonePopout-nEbJY3 {
    background-color: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Emoji picker
  .emojiItem_fbfedd.emojiItemSelected_fbfedd {
    background-color: var(--background-modifier-selected);
  }
  .searchBar_c6ee36 {
    border-radius: var(--border-radius);
  }

  .imageLoading_b000dd {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  // Reactions modal
  .scroller_f2bfbb {
    background: var(--background-tertiary);
  }
  .container_f2bfbb,
  .reactors_f2bfbb {
    background: var(--background-secondary);
  }
  .reactionSelected_f2bfbb {
    background-color: #6e85d321;
  }
  .reactorDefault_f2bfbb {
    box-shadow: inset 0 -1px 0 var(--background-primary);
  }

  // Deleting message modal
  .message_ddcc45 {
    background: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Attachements
  .textContainer_ad9cbd,
  .footer_ad9cbd {
    border: none;
  }

  // Emoji popout
  .popoutContainer_cf58b5 {
    border-radius: var(--border-radius);
  }

  // New message bar
  .newMessagesBar_cf58b5 {
    top: 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-accent);
    padding-top: 0;
  }

  // Jump to present bar
  .jumpToPresentBar_cf58b5 {
    bottom: 12px;
    padding-bottom: 0;
    border-radius: var(--border-radius);
  }

  // News chat bar
  .wrapper_faf5ab {
    border-radius: var(--border-radius);
  }

  // Reactions
  .reaction_f61c73 {
    border-radius: var(--border-radius);
  }

  // Buttons on messages
  .wrapper_ef319f {
    border-radius: var(--border-radius);
  }

  // Bot tag
  .botTagRegular_c89c9a {
    background-color: var(--background-accent);
  }

  // Slow mode
  .cooldownWrapper_d7ebeb {
    color: var(--text-muted) !important;
  }
}
