:root {
  // Forums
  .container_b92032 {
    background: var(--background-primary);

    .mainCard__0ec2c {
      background-color: var(--background-secondary);
    }
  }

  // Threads
  .threadSidebar-1o3BTy {
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    width: 320px;
    min-width: unset;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    padding-bottom: 26px;
    overflow: visible;

    &::-webkit-scrollbar {
      margin-right: 50px;
    }

    // Header
    &::before {
      content: "Thread";
      position: absolute;
      top: -60px;
      z-index: 1;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bolder;
      color: var(--header-primary);
      background-color: var(--background-secondary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
      content: "";
      position: fixed;
      bottom: 85px;
      z-index: 1;
      width: 320px;
      height: 35px;
      background-color: var(--background-secondary);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      background-image: linear-gradient(
        to right,
        var(--header-primary) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 21px 2px;
      background-repeat: repeat-x;
    }
  }

  // Embed
  .embedFull__14919 {
    border: none;
    margin-left: 10px;
    border-radius: 5px var(--border-radius) var(--border-radius) 5px;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: -10px;
      width: 0px;
      border: solid;
      border-width: 0 0 0 6px;
      border-color: inherit;
      border-radius: var(--border-radius);
    }
  }

  // Code blocks
  .hljs {
    border: none;
    border-radius: var(--border-radius);
  }

  // Audio player
  .wrapperAudio__178e9 {
    padding: 10px 0 0 0;
    border-radius: var(--border-radius);
  }
  .audioMetadata__84e00 {
    padding: 5px 10px;
  }
  .audioControls_da7066 {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Discord invite
  .wrapper__8a5dd {
    border-radius: var(--border-radius);
  }

  // Spotify session
  .invite__2a93b {
    background-color: var(--background-secondary);
    border: none;
    border-radius: var(--border-radius);
  }

  // Spotify embed
  .embedSpotify__13fe9 {
    border-radius: var(--border-radius);
  }

  // Discord Gift
  .tile_ebc93b {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
  }
  .tileHorizontal_ee4bae.tile_ebc93b:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop__9bdd8 {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // # @ / autocomplete menu
  .autocomplete__743a5,
  .option__2b069 {
    background-color: var(--background-secondary-alt);
  }
  .categoryHeader__70c8e,
  .selected-3H3-RC {
    background-color: var(--background-tertiary);
  }

  // @everyone popout
  .everyonePopout-nEbJY3 {
    background-color: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Emoji picker
  .emojiItem_de65fd.emojiItemSelected__023be {
    background-color: var(--background-modifier-selected);
  }
  .searchBar__57f39 {
    border-radius: var(--border-radius);
  }

  .imageLoading_fb7de7 {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  // Reactions modal
  .scroller__9a4f3 {
    background: var(--background-tertiary);
  }
  .container_f8ef5d,
  .reactors__0f305 {
    background: var(--background-secondary);
  }
  .reactionSelected__16345 {
    background-color: #6e85d321;
  }
  .reactorDefault__4b61e {
    box-shadow: inset 0 -1px 0 var(--background-primary);
  }

  // Deleting message modal
  .message_ff43e6 {
    background: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Attachements
  .textContainer__65f57,
  .footer__90194 {
    border: none;
  }

  // Emoji popout
  .popoutContainer__66068 {
    border-radius: var(--border-radius);
  }

  // New message bar
  .newMessagesBar__8b272 {
    top: 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-accent);
    padding-top: 0;
  }

  // Jump to present bar
  .jumpToPresentBar__69174 {
    bottom: 12px;
    padding-bottom: 0;
    border-radius: var(--border-radius);
  }

  // News chat bar
  .wrapper__57349 {
    border-radius: var(--border-radius);
  }

  // Reactions
  .reaction_ef7e09 {
    border-radius: var(--border-radius);
  }

  // Buttons on messages
  .wrapper__4e6b6 {
    border-radius: var(--border-radius);
  }

  // Bot tag
  .botTagRegular_c89c9a {
    background-color: var(--background-accent);
  }

  // Slow mode
  .cooldownWrapper__193b2 {
    color: var(--text-muted) !important;
  }
}
