:root {
  .content_a4d4d9 .sidebar_a4d4d9 {
    border-radius: 0;
  }

  // Channels
  .wrapper_d8bfb3,
  .container-32HW5s {
    border-radius: var(--border-radius);
  }

  // Voice call
  .content_cdc675 {
    border-radius: var(--border-radius);
  }

  // SCTR connection
  .container__13b2a .header-2C89wJ {
    background-color: var(--background-tertiary);
  }
  .container__13b2a section {
    background-color: var(--background-secondary);
  }

  .container_ee69e0 > .scroller_c43953 > .content_eed6a8 > div:first-child[style="height: 16px;"] {
    display: none;
  }
}
